<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Multiple raffles detected. Please select one you want to link to.</h4>
    </div>


    <div class="modal-body">
        <div class="row"  *ngFor="let raffle of raffles; let i = index">
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" (click)="linkRaffle(i)">Link To This Raffle</button>
            </div>
            <div class="col-xs-9">
                <p>{{raffle.title}}</p>
            </div>
        </div>
    </div>
</div>