<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="closeModal(null)">&times;</button>
        <h4 class="modal-title">Top Level Comment from <b [ngClass]="{'jackpots': isCommentFromBlobAndHisBoy}">{{context.comment.data.author}}</b> <b *ngIf="context.comment.data.author_flair_text"> [{{context.comment.data.author_flair_text}}]</b> <b *ngIf="context.comment.data.edited" class="text-danger"><br/>This comment has been edited!</b></h4>
    </div>
    <div class="modal-body well" innerHtml="{{formattedMessage}}">
    </div>


    <div *ngIf="linksInfo?.length > 0" class="modal-body well">
        <div class="panel panel-default" *ngFor="let linkInfo of linksInfo; let i = index">
            <p>Link {{i + 1}}: date of comment: <strong>{{linkInfo.dateCommentCreated}}</strong></p>
            <p>User requesting spot is same user from link: <strong>{{linkInfo.linkAuthorMatches}}</strong></p>
            <p>User is in raffle and paid: <strong>{{linkInfo.userIsInRaffle}}</strong></p>
            <p>Raffle is complete: <strong>{{linkInfo.postIsComplete}}</strong></p>
            <p>Parent is Post: <strong>{{linkInfo.parentIsPost}}</strong></p>
        </div>
    </div>

    <div *ngIf="context.numOpenSlots > 0 || context.inOrderMode" class="modal-body" >
        <label  for="additionalMessage">Additional Message?</label>
        <input
          type="checkbox"
          id="additionalMessage"
          name="additionalMessage"
          [(ngModel)]="additionalMessage"
          (change)="
            updateAdditionalMessage($event);
          "
        />
        <div *ngIf="additionalMessage" required="additionalMessage" class="input-group">
            <span class="input-group-addon"><i style="font-size:1.5em;" class="glyphicon glyphicon-info-sign" title="The following text will be added to your reply in place of {{'{ADDITIONAL_MESSAGE_TEXT}'}}"></i></span>
            <textarea (change)="updateAdditionalMessageText($event)" class="form-control" style="min-width: 100%" id="additionalMessageText" rows="3" [(ngModel)]="additionalMessageText" title="The following text will be added to your reply in place of {{'{ADDITIONAL_MESSAGE_TEXT}'}}"></textarea>
        </div>
    </div>
    <div class="modal-body" >
        <label *ngIf="context.numOpenSlots > 0 || context.inOrderMode" for="confirmationMessage">Confirmation Reply:</label>
        <label *ngIf="context.numOpenSlots === 0 && !context.inOrderMode" for="confirmationMessage">Waitlist Reply: </label>
        <div class="input-group">
            <span class="input-group-addon"><i style="font-size:1.5em;" class="glyphicon glyphicon-info-sign" title="The following text can be used and will be replaced with actual values:
{{'{slotOwner_ALL_SLOTS}'}}
{{'{slotOwner_CALLED_SLOTS}'}}
{{'{slotOwner_RANDOM_SLOTS}'}}"></i></span>
            <textarea class="form-control" style="min-width: 100%" id="confirmationMessage" rows="3" [(ngModel)]="confirmationMessageText" title="The following text can be used and will be replaced with actual values:
{{'{slotOwner_ALL_SLOTS}'}}
{{'{slotOwner_CALLED_SLOTS}'}}
{{'{slotOwner_RANDOM_SLOTS}'}}"></textarea>
        </div>

    </div>
    <div *ngIf="context.numOpenSlots > 0 || context.inOrderMode" class="modal-body">

        <div class="row" *ngIf="requestedTooManySlots">
            <div class="col-lg-12">
                <b class="text-danger">
                    The User is requesting more slots than there are available.
                </b>
            </div>
        </div>

        <div class="row" *ngIf="hasDuplicateSlots">
            <div class="col-lg-12">
                <b class="text-danger">
                    The called slots list contain duplicates
                </b>
            </div>
        </div>

        <div class="row" *ngIf="unavailableSlots.length !== 0">
            <div class="col-lg-12">
                <b class="text-danger">
                    The slots {{unavailableSlots.join(', ')}} are unavailable and will be replaced with randoms.
                </b>
            </div>
        </div>

        <div class="row" *ngIf="invalidRandom">
            <div class="col-lg-12">
                <b class="text-danger">
                    The number of requested random slots cannot be negative.
                </b>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>{{context.numOpenSlots}} Open Slots Left</label>
            </div>
        </div>

        <div class="panel panel-default" *ngFor="let slotAssignment of slotAssignments; let i = index">
            <div class="panel-heading">
                <span>Slot Assignment {{i + 1}}</span>
                <button type="button" class="close pull-right" *ngIf="slotAssignments.length > 1" (click)="removeSlotAssignment(i)">&times;</button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="username{{i}}">Assign Slots To: </label>
                    <input id="username{{i}}" type="text" [ngModel]="slotAssignment.username" (ngModelChange)="updateReplyText($event, i)"/>
                    <span *ngIf="slotAssignment.username"> owns: {{getNumOwnedSlots(slotAssignment.username)}}, previously requested: {{getNumRequestedSlots(slotAssignment.username)}}</span>
                </div>

                <div class="form-group" *ngIf="!context.inOrderMode">
                    <label for="calledSlots{{i}}">Called Slots (e.g. 2,7,9): </label>
                    <input id="calledSlots{{i}}" [(ngModel)]="slotAssignment.calledSlots" type="text" (ngModelChange)="checkSlots()" (keypress)="_keyPress($event)"/>
                </div>

                <div class="form-group" *ngIf="!context.inOrderMode">
                    <label for="randomSlots{{i}}">Number of Random Slots: </label>
                    <input id="randomSlots{{i}}" [(ngModel)]="slotAssignment.randomSlots" type="number" (ngModelChange)="checkSlots()"/>
                </div>

                <div class="form-group" *ngIf="context.inOrderMode">
                    <label for="inOrderSlots{{i}}">Number of In Order Slots: </label>
                    <input id="inOrderSlots{{i}}" [(ngModel)]="slotAssignment.inOrderSlots" type="number" (change)="checkSlots()"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <a (click)="addSlotAssignment()" style="cursor: default">
                    Add user to assign slots for +
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" *ngIf="slotAssignments[0].username === 'BlobAndHisBoy' && context.numOpenSlots > 0 && !context.inOrderMode && !isDonationComment" [disabled] = "!confirmationMessageText || numRequestedSlots <= 0 || hasDuplicateSlots || requestedTooManySlots || invalidRandom" (click)="donateSlot()">Donate Slot to /u/BlobAndHisBoy...</button>
        <button *ngIf="context.numOpenSlots > 0 || context.inOrderMode" type="button" class="btn btn-default" [disabled] = "!confirmationMessageText || numRequestedSlots <= 0 || hasDuplicateSlots || requestedTooManySlots || invalidRandom || invalidinOrder || slotAssignmentMissingSlots" (click)="assignSlots()">Assign Slots</button>
        <button *ngIf="context.numOpenSlots === 0 && !context.inOrderMode" type="button" class="btn btn-default" [disabled] = "!confirmationMessageText" (click)="postWaitlistCommentAndClose()">Post Waitlist Comment</button>
        <button type="button" class="btn btn-default" [disabled] = "numRequestedSlots > 0" (click)="skipComment(false)">Skip Comment</button>
        <button type="button" class="btn btn-default" [disabled] = "numRequestedSlots > 0" (click)="skipComment(true)">Reply & Skip</button>
        <button type="button" class="btn btn-default" (click)="closeModal(null)">Close</button>
    </div>
</div>