<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Mod Chat
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
                <div *ngIf="!username" class="panel-footer">
                    <div class="input-group">
                        <input #updatedUsername id="btn-input" type="text" class="form-control input-sm"
                               placeholder="Enter Mod Username For Chat" (keyup.enter)="updateUsername($event.target.value)"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" (click)="updateUsername(updatedUsername.value)">
                                Enter Name</button>
                        </span>
                    </div>
                </div>
                <div *ngIf="username" class="panel-collapse collapse in" id="collapseOne">
                    <div #chatScroll name="chatBody" class="panel-body">
                        <ul class="chat">
                            <li [ngClass]="{'left clearfix': chatMessage.username !== username, 'right clearfix': chatMessage.username === username}" *ngFor="let chatMessage of chatMessages | async; let i = index">
                                <span [ngClass]="{'chat-img pull-left': chatMessage.username !== username, 'chat-img pull-right': chatMessage.username === username}">
                                    <img src="http://placehold.it/50/{{chatMessage.userRole === 'MOD' ? '55e75e' : '55C1E7'}}/fff&text={{chatMessage.userRole}}" alt="User Avatar" class="img-circle"/>
                                </span>
                                <div class="chat-body clearfix">
                                    <div *ngIf="chatMessage.username !== username" class="header">
                                        <strong  class="primary-font">{{chatMessage.username}}</strong>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{chatMessage.timeSent | timeAgo}}
                                        </small>
                                    </div>
                                    <div *ngIf="chatMessage.username === username" class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{chatMessage.timeSent | timeAgo}}
                                        </small>
                                        <strong class="pull-right primary-font">{{chatMessage.username}}</strong>
                                    </div>
                                    <p [ngClass]="{'pull-right': chatMessage.username === username}">
                                        {{chatMessage.message}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input #messageToSend id="btn-input" type="text" class="form-control input-sm"
                                   placeholder="Type your message here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal"/>
                            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" (click)="chatSend(messageToSend.value)">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
