<div class="modal-content">
    <div class="modal-body" style=" overflow-y: auto; height: 500px; ">
        <h1>Terms and Conditions ("Terms")</h1>

        <p>Last updated: September 18, 2017</p>


        <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the edc-raffle-tool.firebaseapp.com website (the "Service") operated by the software developer(s) of EDC Raffle Tool ("us", "we", or "our").</p>

        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

        <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. Terms & Conditions created by <a href="https://termsfeed.com" rel="nofollow">TermsFeed</a> for the software developer(s) of EDC Raffle Tool.</p>




        <h2>User Conduct</h2>

        <p>You agree that you, not the software developer(s) of EDC Raffle Tool, are entirely responsible for all of the content created and modified directly or indirectly resulting from your use of the Service. You assume all risks associated with use of the Service, including any reliance on its accuracy, completeness or usefulness.</p>

        <p>You will not post content or take any action on or through our Services that infringes or violates someone else's rights or otherwise violates the law.</p>

        <p>You acknowledge and agree that by accessing or using the Service, you hereby waive any legal or equitable rights or remedies you have or may have against the software developer(s) of EDC Raffle Tool, and agree to indemnify and hold the software developer(s) of EDC Raffle Tool, harmless to the fullest extent allowed by law regarding all matters related to your use of the Service.</p>


        <h2>Links To Other Web Sites</h2>

        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by the software developer(s) of EDC Raffle Tool.</p>

        <p>The software developer(s) of EDC Raffle Tool has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that the software developer(s) of EDC Raffle Tool shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>


        <h2>Termination</h2>

        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>

        <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>



        <h2>Governing Law</h2>

        <p>These Terms shall be governed and construed in accordance with the laws of New Hampshire, United States, without regard to its conflict of law provisions.</p>

        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


        <h2>Changes</h2>

        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>


        <h2>Contact Us</h2>

        <p>If you have any questions about these Terms, please contact us.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal(true)">I Agree</button>
    </div>
</div>
