/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~sweetalert2/dist/sweetalert2.css";


.payment-confirmation-modal {
    width: 585px;
}

.swal2-container {
    z-index: 1600 !important;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

