<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">&times;</button>
        <h4 class="modal-title">{{context.comment.data.author}}</h4>
    </div>
    <div class="modal-body">
        <p>{{context.comment.data.body}}</p>
    </div>

    <div >
        <div class="row">
            <div class="col-xs-6">
                <label for="username">Slots For: </label>
                <input id="username" [(ngModel)]="slotAssignment.username" type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label for="calledSlots">Called Slots</label>
                <input id="calledSlots" [(ngModel)]="slotAssignment.calledSlots" type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <label for="randomSlots">Random Slots</label>
                <input id="randomSlots" [(ngModel)]="slotAssignment.randomSlots" type="number"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="assignSlot()">Assign Slots</button>
        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
    </div>
</div>